:root {
    --primary-color: #d10404;
}

.button {
    padding: 5px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff !important;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: .3s all ease;
}

.button:hover {
    background-color: transparent;
    transition: .3s all ease;
    color: var(--primary-color) !important;
}

.button:hover svg {
    fill: var(--primary-color);
}


.text {
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.text-red {
    color: var(--primary-color) !important;
}

.text-white {
    color: #FFFFFF;
}

.text-dark {
    color: #474747;
}

.text-13 {
    font-size: 1.3rem;
}

.text-15 {
    font-size: 1.5rem;
}

.text-16 {
    font-size: 1.6rem;
}

.text-20 {
    font-size: 2rem;
}

.text-fw500 {
    font-weight: 500;
}

.text-fw600 {
    font-weight: 600;
}

.text-fw700 {
    font-weight: 700;
}

.text-fw900 {
    font-weight: 900;
}