header {
    background-color: #f5f5f5;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header .navbar .navbar-brand h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    color: #d10404;
}

header .navbar .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

header .navbar .navbar-links .nav-item {
    margin-left: 20px;
}

header .navbar .navbar-links .nav-item .nav-link {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

header .navbar .navbar-links .nav-item .nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

header .navbar .navbar-links .nav-item .nav-link .icon {
    display: inline-block;
    margin-right: 5px;
    /* Placeholder for Google Icons */
}