.list-page {
    margin: 3rem 5rem;
}

.list-page h1 {
    padding: 0 3rem;
}

.list-page .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3rem;
}

.list-page .header-bar .right-wrapper {
    display: flex;
    gap: 20px;
}

.list-page .header-bar .right-wrapper .search-bar {
    display: flex;
    align-items: center;
}

.list-page .header-bar .right-wrapper .search-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.list-page .header-bar .right-wrapper .search-bar .input-wrapper .clear-filter-button {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.list-page .header-bar .right-wrapper .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.list-page .header-bar .right-wrapper .search-bar button svg {
    width: 20px;
    height: 20px;
    fill: #555;
}

.list-page .header-bar .right-wrapper .search-bar button:hover svg {
    fill: #000;
}

.list-page .header-bar .right-wrapper .search-bar .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.list-page .list {
    width: 100%;
    padding: 0 3rem;
}

.list-page .list table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.list-page .list th,
.list-page .list td {
    text-align: left;
    padding: 12px 16px;
}

.list-page .list th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.list-page .list tr {
    border-bottom: 1px solid #dee2e6;
}

.list-page .list tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.list-page .list td {
    background-color: #fff;
}



.list-page .list .actions {
    display: flex;
    gap: 10px;
    text-align: right;
    white-space: nowrap;
}

.list-page .list .actions button {
    padding: 6px 12px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-page .list .actions button:hover {
    background: var(--primary-color);
}

.list-page .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list-page .pagination a {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--primary-color);
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.list-page .pagination a:hover {
    background-color: #e9ecef;
}

.list-page .pagination .active {
    background-color: var(--primary-color);
    color: white;
}